{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% block center%}

<div class="container text-center">
    <div class="row">

      <div class="col m-4">
        <img src="{{ filme.imagem.url }}" width="400px" height="550px" alt="">
      </div>


      <div class="col m-4 text-center">
        <br><br><br><br>
        <p><strong>Título: </strong>{{filme.titulo}}</p>
        <p><strong>Ano de lançamento: </strong>{{filme.ano_lancamento}}</p>
        <p><strong>Resumo: </strong>{{filme.resumo}}</p>
        <p><strong>onde assistir: </strong>{{filme.assistir}}</p>
        <br><br><br><br><br><br><br><br>

        <a href="{% url 'listar_filmes' %}" class="btn btn-secondary">voltar</a>
        <a href="{% url 'editar_filme' id=filme.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'apagar_filmes' id=filme.id %}" class="btn btn-danger">Apagar</a>


      </div>

    </div>
  </div>



{% endblock %}


</body>
</html>